h1{
    font-size: 25px;
}

.pagination {
  margin: 20px 0;
}



.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px;
}

.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
}

.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
}

.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px;
}

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 10.5px;
}

.imgpro{
    width: auto;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.distribuidorView:hover{
    cursor: pointer;
}

.usuarioView:hover{
    cursor: pointer;
}

.content-ficha{
    width: 90%;
}

.formImage{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.formImage img{
    width: 300px;
}

.center{
    width: 100%;
    text-align: center;
}

.formCenter{
    margin: 50px auto;
    float: none;
}

#diasPedido{
    display: none;
}

.subcategory{
    background-color: #e2e4ff !important;
}

.margin-right{
    margin-right: 10px;
}

.form-group textarea{
    height: 40px;
    max-height: 40px;
    min-height: 40px;
    max-width: 100%;
    min-width: 100%;
}

.well{
    overflow-y: auto;
}

.itemImagen{
    width: 200px;
    position: relative;
    float: left;
    margin-right: 10px;
}

.itemImagen img{
    width: 99%;
    float: left;
    position: relative;
}

.itemImagen a{
    float: left;
    position: relative;
    width: 1%;
    left: -20px;
}

.contenedorImagenes{
    overflow-y: auto;
}

.imagenAdmin img{
    width: 75px;
}

.centerText{
    text-align: center;
}

.relacionados{
    overflow-y: auto;
}

#stringMes{
    text-align: center;
    font-size: 18px;
    margin: 5px 0;
}

.tablaAgenda{
    width: 100%;
}

.tablaAgenda thead tr td{
    padding: 5px 0;
    width: 5%;
    text-align: center;
}

.tablaAgenda tbody tr td{
    padding: 5px;
    text-align: right;
    border: 1px solid #ccc;
    height: 90px;
    min-height: 90px;
    vertical-align: top;
}

#mesAnterior:hover{
    cursor: pointer;
}

#mesSiguiente:hover{
    cursor: pointer;
}

.flechas{
    font-size: 30px;
}

.hoverAgenda:hover{
    cursor: pointer;
}

.diaAgenda{
    width: 100%;
    text-align: right;
}

.horarioOcupado{
    background-color: #e4eff8;
    border-color: #9fc6e7;
}

.horarioLibre:hover{
    cursor: pointer;
}

.horarioOcupado{
    background-color: #e4eff8;
    border-color: #9fc6e7;
}

.horarioLibre:hover{
    cursor: pointer;
}

.horarioDisponible{
    background-color: #98FB98;
    border-color: #9fc6e7;    
}

.horarioDisponible:hover{
    cursor: pointer;
}

.selected-horario{
    background-color: #008000;    
}

.tablahorario{
    width: 60%;
    margin: 0 auto;
}

.tablahorario thead tr td{
    padding: 5px 0;
    width: 5%;
    text-align: center;
}

.tablahorario tbody tr td{
    padding: 5px;
    text-align: right;
    border: 1px solid #ccc;
}

.selected{
    background-color: #08589e;
}

.diaServicio{
    background-color:  #13C800;
    color: white;
}

.diaConOperarios{
    background-color: #F48F00;
    color: white;
}

.calendar{
    text-align: center;
    font-size: 50px;
}

.tablaDiasOperarios{
    width: 100%;
}

.tablaDiasOperarios thead tr td{
    padding: 5px 0;
    width: 5%;
    text-align: center;
}

.tablaDiasOperarios tbody tr td{
    padding: 5px;
    text-align: right;
    border: 1px solid #ccc;
    height: 20px;
    min-height: 90px;
    vertical-align: top;
}

#table{
    width: 100%;
    margin-bottom: 20px;
}

#table tbody tr:hover{
    cursor: pointer;
}

#table tbody tr td i{
    color: #08589e;
}

.itemMenu{
    width: 100%;
}

.itemMenuTitulo{
    font-weight: bold;
    padding: 10px 0;
}

.logoAdmin img{
    margin: 2px 0;
}

.container{
    width: 96%;
    margin: 0 2%;
}

.tdCantidad .btn{
    padding: 0px 4px !important;
}

.form-control{
    font-size: 12px;
    height: 25px;
    padding: 0 6px;
}

.tdCantidad .form-control{
    width: 50%;
    margin-left: 2%;
    display: inline;
    padding: 6px 4px;
}

.tdProducto .btn{
    padding: 0px 4px !important;    
}

.tdProducto .form-control{
    width: 70%;
    margin-left: 2%;
    display: inline;
    padding: 6px 4px;
}

.tddias .form-control{
    width: 80%;
    position: relative;
    float: left;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.modal-body{
    overflow-y: auto;
}

#listaResultados{
    overflow-y: auto;
    width: 100%;
    height: 370px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
    float: left;
    min-height: 370px;
    max-height: 370px;
    margin-top: 15px;
}

#tableResultados{
    width: 100%;
    text-align: left;
}

#tableResultados tbody tr:hover{
    cursor: pointer;
}
#tableResultados tbody tr.resaltar{
    background-color: #abb9d3;
}

.modal-content{
    color: #555;
}

.tdFianza{
    text-align: right;
    padding: 0 10px;
}

.tdPrecio{
    text-align: right;
    padding: 0 10px;
}

.tdTotal{
    text-align: right;
    padding: 0 10px;
}

#totalSuma{
    font-size: 30px;
}

#tablePedidos tbody tr td{
    padding-bottom: 5px;
}

.tdSuciedad{
    text-align: center;
}

.tdSuciedad .form-control{
    width: 75%;
    display: inline;
}

.tdOculto{
    display: none;
}

.tdDesgaste{
    text-align: center;
}

.tdDesgaste .btn{
    padding: 0px 4px !important;    
}

.tdRotura{
    text-align: center;
}

.tdRotura .btn{
    padding: 0px 4px !important;    
}

.line{
    width: 100%;
    overflow-y: auto;
    margin-bottom: 10px;
}

.line label{
    padding-top: 5px;
}

#rotMot{
    max-width: 100%;
    min-width: 100%;
    height: 100px;
    max-height: 100px;
    min-height: 100px;
}

#tablePedidos{
    width: 100%;
}

#tableTotal{
    width: 100%;
    margin-bottom: 30px;
}

.listadoVariables ul{
    list-style-type: none;
}

.listadoVariables ul li{
    text-decoration:  none;
}

.margin-bottom{
    margin-bottom: 10px;
}

.optionRoturas{
    display: none;
}

.diaPedido{
    background-color: green;
    color: white;
}

.leyendas{
    margin-top: 20px;
    font-size: 25px;
}

.leyendaDiaPedido{
    width: 20px; 
    height: 20px; 
    background: green;
    display: inline-block;
}

.asignado{
    background-color: #e4eff8;
    padding: 5px;
}

.leyendaPedidoAsignado{
    width: 20px; 
    height: 20px; 
    background: #e4eff8;
    display: inline-block;   
}

.horarioOcupado{
    background-color: red;
}

.leyendaHorarioOcupada{
    width: 20px; 
    height: 20px; 
    background: red;
    display: inline-block;
}

.leyendaHorarioSeleccionados{
    width: 20px; 
    height: 20px; 
    background: #08589e;
    display: inline-block;    
}

.itemProvincia{
    margin-bottom: 10px;
}

#marcarTodas{
    margin-bottom: 20px;
}

.marginMenu{
    margin-top:15px;
}

.marginMenu .btn{
    color: white;
    margin-left: 10px;
}

.restoPedido{
    display: none;
}

#tableResultadosSearch tbody tr:hover{
    cursor: pointer;
}
#tableResultadosSearch{
    width: 100%;
}
#tableResultadosSearch tbody tr{
    width: 100%;
}
#tableResultadosSearch tbody tr.resaltar{
    background-color: #abb9d3;
}

#usuario{
    width: 90%;
    display: inline-block;
}

.form-group .control-label{
    width: 100%;
}

#modalNewClient .modal-dialog{
    width: 90%;
}

ul.ui-autocomplete{
    z-index: 3000;
}

#horaRecogidaDistribuidor{
    width: 60px;
    display: inline-block;
    text-align: center;
}

#horaRecogidaCliente{
    width: 70px;
    display: inline-block;
    text-align: center;    
}

.itemHorario{
    margin-bottom: 5px;
    font-weight: bold;
}

.col-pedidos{
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #999999;
    font-size: 12px;
}

.col-pedidos i{
    font-size: 16px;
    margin-right: 10px;
}

#formPedido{
    font-size: 14px;
}

.listadoProductos{
    padding-left: 5%;
    width: 95%;
}

.titlePedido{
    min-width: 70%;
}

.fechaPedido{
    min-width: 50%;
}

.opcionesPedido{
    text-align: right;
    min-width: 45%;
}

.opcionesPedido a button{
    padding: 2px 1px;
}

.tdDevolver{
    text-align: center;
}

.horariopropio{
    color: green;
}

.descVerd{
    width: 100%;
    margin: 10px 0;
}

#map_canvas{
    margin: 10px 0;
    height: 450px;
}

.lineaSeparacion{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.diasSemana label{
    margin-right: 5px;
    margin-left: 5px;
}

.modal-producto{
    width: 80%;
}

#contentProductoInicial{
    width: 98% !important;
}

#datosInicial{
    width: 90% !important;
}

.col50modal{
    position: relative;
    float: left;
    width: 50%;
}

#contentrelacionados{
    width: 90% !important;    
}

#contentconsumibles{
    width: 90% !important;      
}

#tableResultadosSearchProducto{
    width: 100%;
    overflow-y: auto;
}

#tableResultadosSearchProducto tbody tr:hover.verde{
    cursor: pointer;
}
#tableResultadosSearchProducto tbody tr:hover.rojo{
    cursor: no-drop;
}
.letranegra{
    color: black !important;
}
.verde{
    background-color: green;
    color: white;
}
.rojo{
    background-color: red;
    color: white;
}

.gris{
    background-color: gray;
    color: white;
}

.inputFecha{
    width: 80%;
    display: inline-block;
}

.btn-mini{
    padding: 1px 5px;
    display: inline-block;
}

#resultadosbusqueda{
    margin: 10px 0;
}

.rotura{
    text-indent: 5%;
    width: 100%;
    font-weight: normal;
}

#modalSearchProduct{
    width: 98% !important;
}

.dias{
    width: 80%;
    margin: 0 10%;
}

#divcliente input{
    width: 90%;
    display: inline-block;
}

#divcliente button{
    display:  inline-block;
    float: right;
    padding: 1px 6px;
}

#productalquiler_myProducts .checkbox, 
#productalquiler_consumibles .checkbox, 
#productalquiler_productosrelacionadosdesgaste .checkbox{
    width: 49%; 
    margin-right: 1%;
    display: inline-block;
}

.labelform{
    position: relative;
    float: left;
}

#tablerelacionados{
    width: 100%;
}

#tablerelacionados tbody tr:hover{
    cursor: pointer;
}

#tableconsumibles{
    width: 100%;
}

#tableconsumibles tbody tr:hover{
    cursor: pointer;
}

#fecha_nuevo{
    width: 60% !important;
    display: inline-block;
}

#tableresumen{
    margin-top: 50px;
    width: 100%;
    float: right;
    border: solid 1px black;
}

#tableresumen tbody tr td{
    border: solid 1px black;
    padding: 3px;
}

.alignrigth{
    text-align: right;
}

.fontbig{
    font-size: 18px;
    font-weight: bold;
}

#cancelar{
    display: none;
}

#cancelarDev{
    display: none;
}

#confirmar{
    display: none;
}

#confirmarDev{
    display: none;
}

.divdireccion{
    display: none;
}

.divgestor{
    display: none;
}

.circulo {
     width: 20px;
     height: 20px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: red;
     position: relative;
     float: left;
}

.minimage{
    width: 70px;
    margin: 2px;
}

.etiquetadiasminimos{
    color: red;
    display: none;
    font-size: 16px;
    position: relative;
    float: left;
    width: 10%;
}

.marcarrojo{
    color: red;
}

.marcarazul{
    color: #4CAE4C;
}

.itempedido{
    margin-bottom: 10px;
}

.itemDevolver{
    text-indent: 2%;
}

.submitdevolver{
    display: none;
}

.width100{
    width: 100%;
}

.fondoblanco{
    background-color: white;
}

.fondoblanco h5{
    font-size: 28px;
}

.fondogris{
    background-color: #f3f3f3;
}

.fondogris h5{
    font-size: 28px;
}

.gestorzona{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}

.marginzona{
    padding-top: 12px;
}

.divselecthoras{
    width: 98%;
    padding: 1%;
    overflow-y: auto;
    display: inline-block;
    margin-top: 10px;
    position: relative;
    float: left;
    border: solid 1px black;
    
}

.divprecios{
    width: 40%;
    overflow-y: auto;
    display: inline-block;
    position: relative;
    float: right;
}

.lineasepacion{
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #999999;
}

.enlacetabla{
    color: black;
}

.enlacetabla:hover{
    cursor: pointer;
    text-decoration: none;
}

.containerleft{
    position: relative;
    float: left;
    width: 60%;
    margin-top: 30px;
    padding: 1%;
}

.col50{
    position: relative;
    float: left;
    width: 49%;
}

.col100{
    position: relative;
    float: left;
    width: 100%;
}

.divrangosservicio{
    margin-bottom: 10px;
}

#btnnuevalinea{
    margin: 0 5px;
}

.col25{
    position: relative;
    float: left;
    width: 25%;
    height: 60px;
    margin-bottom: 10px;
}

.col33{
    position: relative;
    float: left;
    width: 33%;
    height: 60px;
    margin-bottom: 10px;
}
.col33new{
    position: relative;
    float: left;
    width: 33%;
    height: 60px; 
    padding: 0 5%;
}



.col50new{
    position: relative;
    float: left;
    width: 50%;
    height: 60px; 
    padding: 0 5%;
}

.containerdeposito{
    position: relative;
    float: left;
    width: 98%;
    padding: 1%;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

.borderrigth{
    border-right: solid 1px black;    
}

.divdeposito input{
    width: 80%;
}

.borderbottom{
    border-bottom: 1px solid black;
}

#entregaacuenta span{
    color: #F07373;
}

#entregaacuenta:hover{
    cursor: pointer;
}

.showline{
    display: block;
}

.disableline{
    display: none !important;
}

/* Pagina productos */
#banner{
    width: 100%;
}

.bannerAtras{
    width: 7%;
    position: relative;
    float: left;
    font-size: 35px;
    color: #ea3a3c;
    padding-top: 80px;
}

.bannerAtras:hover{
    cursor: pointer;
}

.bannerAdelante{
    width: 7%;
    position: relative;
    float: left;
    font-size: 35px;
    color: #ea3a3c;
    padding-top: 80px;
}

.bannerAdelante:hover{
    cursor: pointer;
}

.bannerInformacion{
    width: 86%;
    position: relative;
    float: left;
    overflow-y: auto;
    height: 300px;
}

.itemGaleria{
    width: 100%;
    max-height: 300px;
    text-align: center;
    max-width: 100%;
}

.itemGaleria img{
    max-height: 300px;
    max-width: 100%;
}

.precios{
    color: black;
    margin-bottom: 10px;
    font-size: 18px;
}

.especificaciones h4{
    font-weight: bold;
    border-bottom: 2px solid #444;
    padding: 5px 0;
}

.especificaciones h4 i{
    font-size: 25px;
}

.tags h4{
    font-weight: bold;
    border-bottom: 2px solid #444;
    padding: 5px 0;    
}

.tags h4 i{
    font-size: 25px;    
}

.itemTag{
    background-color: #444;
    color: white;
    padding: 5px 5px;
    margin-right: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;    
}

.divRelacionados{
    position: relative;
    float: left;
    width: 100%;
}

.itemDestacado{
    border: 1px solid #ddd;
    width: 24%;
    margin-right: 1%;
    position: relative;
    float: left;
    margin-bottom: 20px;
}

.last{
    margin-right: 0;
    width: 25%;
}

.interiorDestacado{
    padding: 10px;
    text-align: center;
}

.imagenDestacado{
    width: 90%;
    margin: 0 auto;
    height: 150px;
    background-color: white;
}

.imagenDestacado img{
    height: 100%;
    max-width: 100%;
}

.tituloDestacado{
    margin-top: 25px;
    width: 100%;
    color: #666666;
    text-decoration: none;
    text-align: left;
    
    font-size: 12px;
    line-height: 1;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 14px;
    line-height: 15px;
    margin-bottom: 10px;
}

.tituloDestacado:hover{
    color: #ea3a3c;
    text-decoration: none !important;
}

.desdeDestacado{
    color: #ea3a3c;
    text-decoration: none;
    text-align: left;  
    width: 50%;
    position: relative;
    float: left;
    margin-top: 15px;
}

.desdeDestacado a{
    color: #ea3a3c;
    font-weight: bold;
}
