.folio{
    font-size: 18px;
}
.imagecenter{
    margin-left: 35%;
    width:30%;
}
.logoImprimir{
    margin: 0 auto;
    width: 40%;
    padding-top: 20px;
}

.divImprimirCenter50{
    padding-top: 35px;
    width: 50%;
    position: relative;
    float: left;
    text-align: center;    
}

.divImprimir50{
    padding-top: 35px;
    width: 50%;
    position: relative;
    float: left;
    text-align: left;
}

.divFirmas50{
    width: 50%;
    position: relative;
    float: left;
    text-align: left;    
}

.divFirmas50 label{
    font-weight: normal;
}

.nota{
    width: 100%;
    margin: 100px 0 5px 0;
    padding: 1%;
    border: solid 1px #000000;
    position: relative;
    float: left;
}

.spancabecera{
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 5px;
}

.nombreEmpresa{
    font-weight: bold;
}

.cabecera{
    margin-bottom: 20px;
    overflow-y: auto;
}

.tituloAlbaran{
    position: relative;
    float: left;
    width: 100%;
    overflow-y: auto;
    margin-bottom:5px;    
}

.almacenes{
    position: relative;
    float: left;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 20px;
}

.itemAlmacen{
    width: 44%;
    margin: 0 3%;
    padding: 5px 0;
    position: relative;
    float: left;
}

.tituloAlmacen{
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
    width: 100%;
    text-align: center;
    position: relative;
    float: left;
    margin-bottom: 5px;
}

.spanBold{
    font-weight: bold;
}

.textoAlmacen{
    width: 100%;
    position: relative;
    float: left;
}

.datos{
    width: 94%;
    position: relative;
    float: left;
    overflow-y: auto;
    margin: 0 3%;
}

.datos .itemFecha{
    width: 33%;
    position: relative;
    float: left;
}

.materiales{
    position: relative;
    float: left;
    width: 94%;
    margin: 0 3%;
    overflow-y: auto;
    margin-bottom: 20px;
    margin-top: 30px;
}

.headerTable{
    border-bottom: 2px solid #000000;
}

.logopedido{
    width: 100%;
    position: relative;
    float: left;
    padding-bottom: 20px;
    border-bottom: solid 1px #000000;
    margin-bottom: 20px;
    display: none;
}

.logoresumen{
    width: 45%;
    position: relative;
    float: left;
    text-align: center;
}

.logoresumen img{
    width: 70%;
    margin-top: 50px;
}

.pedidoresumen{
    width: 45%;
    position: relative;
    float: right;
    text-align: left;
}

.spanpedido{
    position: relative;
    float: left;
    width: 100%;
}

.negrita{
    font-weight: bold;
}

.derecha{
    text-align: right;
}

.divcliente{
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: solid 1px #000000;
    margin-bottom: 20px;
}

.divcliente .col1{
    position: relative;
    float: left;
    width: 45%;
    text-align: left;
}

.datoscliente{
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: solid 1px #000000;
    margin-bottom: 20px;
    display: none;
}

.datoscliente .col1{
    position: relative;
    float: left;
    width: 45%;
    text-align: left;
}

.datoscliente .col2{
    position: relative;
    float: right;
    width: 45%;
    text-align: left;
}

.tabladatos{
    position: relative;
    float: left;
    width: 100%;
}

.tabladatos table{
    border: 1px solid black;
    width: 100%;
}

.tabladatos tr, .tabladatos td, .tabladatos th{
    border: 1px solid black;
    padding: 2px;
}

.tablaresumen{
    position: relative;
    float: left;
    width: 100%;    
}

.tablaresumen table{
    width: 100%;
}

.imprimir{
    display: none;
}

.divhorarioimprimir{
    width: 100%;
    position: relative;
    float: left;
}

.divobservaciones{
    width: 100%;
    position: relative;
    float: left;    
}

.divserviciodomicilio{
    width: 70%;
    position: relative;
    float: left;
    margin-top: 50px;
}

.divtablaresumen{
    width: 30%;
    position: relative;
    float: right;
}

.divtablaentrega{
    width: 60%;
    position: relative;
    float: left;
    margin-top: 50px;
    font-size: 18px;
}

.divtablaresumen2{
    width: 30%;
    position: relative;
    float: right;
}

.divcontrato{
    position: relative;
    float: left;
    width: 100%;
    display: block;
}

.mostrarprint{
    display: none;
}

@media print {
    /* Todas las reglas Css */
    header{
        display: none;
    }
    
    #content a:link:after, #content a:visited:after {    
        content: " ("attr(href) ") ";    
        font-size: 90%;   
    }
    
        @page {
            size: A4 portrait;    /* auto is the current printer page size */
            margin: 6mm 4mm 6mm 4mm;  /* this affects the margin in the printer settings */
        }

        body 
        {
            background-color:#FFFFFF;
            margin: 0px;  /* the margin on the content before printing */
       }
    
    @page rotada {size: landscape;}
    
    .mostrarprint{
        display: inline-block;
    }
    
    .tituloImprimir{
        display: none;
    }
    
    .folio{
        font-size: 12px;
    }
    
    .spancabecera{
        margin-bottom: 0px;
    }
    
    .logoImprimir{
        width: 50mm;
    }
    
    #volver{
        display: none;
    }
    
    #tableresumen{
        width: 50%;
    }
    
    #tablePedidos thead tr td{
        font-size: 12px;
        font-weight: normal;
    }

    .fontbig{
        font-size: 12px;
        font-weight: bold;
    }

    .imprimir{
        display: block;
    }

    .mostrar, .dontprint{
        display: none;
    }
    
    .logopedido{
        display: block;
    }
    
    .datoscliente{
        display: block;
    }
    
    .divcliente{
        display: none;
    }
    
    .ocultarimprimir{
        display: none;
    }
    
    .centralimprimir{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .menulateralimprimir{
        display: none;
    }
    
    .divcontrato{
        float:none;
        display: block;
    }
    
    .divtablaentrega{
        font-size: 12px;
        width: 300px;
        display: inline-table;
        margin-top: -130px;
    }
    
    .divtablaresumen2{
        width: 700px;
        display: inline-table;
    }
    .contenido{
       width: 600px;
       margin-left: 50px;
      display:block; 
      page-break-before:always;
    }
}